DATABASE_URL=
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

MYSQL_POOL_SIZE=10
MYSQL_MAX_OVERFLOW=20
MYSQL_POOL_TIMEOUT=30
MYSQL_POOL_RECYCLE=1800

SMS_API_URL=https://sms.post.tm/api/clients/sms/create
SMS_API_TOKEN=
SMS_ENABLED=true
SMS_TIMEOUT=10

FBO_ENABLED=true